@import "vars";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.background {
  background-color: #f6f5f4;
}
html,
button,
::placeholder {
  font-family: "Montserrat Alternates";
}

.head {
  display: flex;
  justify-content: space-between;
  padding-top: 40.5px;
  padding-bottom: 40.5px;
  &__nav {
    display: flex;
    gap: 48px;
    &-btn {
      border: none;
      background: none;
      font-size: 16px;
      font-weight: 600;
      color: $darck;
    }
    &-border {
      background: none;
      border: 1px, solid, #a26539;
      color: #a26539;
      font-size: 16px;
      font-weight: 600;
      width: 169px;
      height: 52px;
      border-radius: 24px;
    }
  }
}

.top {
  padding-top: 118.35px;
  position: relative;
  overflow: hidden;

  &__left {
    width: 586px;

    &-title-max {
      font-size: 48px;
      font-weight: 700;
      padding-bottom: 24px;
      color: $darck;
    }

    &-title-mini {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 24px;
      width: 498px;
      color: $darck;
    }

    &-paragraph {
      width: 498px;
      padding-bottom: 40px;
      font-size: 16px;
      font-weight: 400;
      color: $darck;
    }

    &-btn {
      width: 366px;
      height: 52px;
      background: none;
      border: 1px, solid, $brown;
      border-radius: 24px;
      color: $brown;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 208px;
    }
  }
  &__background {
    position: absolute;
    width: clamp(500px, 75vw, 1119px);
    height: clamp(300px, 45vw, 677px);
    background: url("./img/А-доска.svg") center/cover no-repeat;
    z-index: 1;
    mask-image: radial-gradient(
      ellipse at center,
      black 50%,
      /* Черный цвет до 50% (видимая часть) */ transparent 50%
        /* Прозрачный цвет после 50% (скрытая часть) */
    );
    -webkit-mask-image: radial-gradient(
      ellipse at center,
      black 50%,
      transparent 50%
    );
    top: -50px;
    transform: rotate(-9.97deg);
    left: 37vw;
  }
}
