@import "vars";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.background {
  background-color: #f6f5f4;
}

html {
  color: $darck;
  scroll-behavior: smooth;
}

html,
button,
::placeholder {
  font-family: "Montserrat Alternates";
}

.head {
  position: sticky;
  background-color: #ffffff;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-top: 40.5px;
  padding-bottom: 40.5px;
  top: 0;

  &__nav {
    display: flex;
    gap: 48px;
    align-items: center;
    &-link {
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      color: $darck;
    }
    &-border {
      text-decoration: none;
      border: 1px, solid, #a26539;
      color: #a26539;
      font-size: 16px;
      font-weight: 600;
      width: 169px;
      height: 52px;
      border-radius: 24px;
      text-align: center;
      padding: 16px 36px 16px 36px;
      transition: all 0.3s;
    }

    &-border:hover {
      background-color: $brown;
      color: #ffffff;
      transition: all 0.3s;
    }
  }
}

.top {
  padding-top: 118.35px;
  overflow: hidden;
  position: relative;

  &__left {
    width: 586px;

    &-title-max {
      font-size: 48px;
      font-weight: 700;
      padding-bottom: 24px;
    }

    &-title-mini {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 24px;
      width: 498px;
    }

    &-paragraph {
      width: 498px;
      padding-bottom: 40px;
      font-size: 16px;
      font-weight: 400;
    }

    &-btn {
      width: 366px;
      height: 52px;
      background: none;
      border: 1px, solid, $brown;
      border-radius: 24px;
      color: $brown;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 208px;
    }
  }

  &__composition {
    position: absolute;
    position: relative;

    &-background {
      position: absolute;
      width: clamp(500px, 75vw, 1220px); // max было 1119px → стало 1220px
      height: clamp(300px, 45vw, 861px);
      z-index: 1;
      mask-image: radial-gradient(
        ellipse 90% 100% at center,
        black 50%,
        transparent 50%
      );
      -webkit-mask-image: radial-gradient(
        ellipse 90% 100% at center,
        black 50%,
        transparent 50%
      );
      top: -740px;
      transform: rotate(-9.97deg);
      left: 530px;

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-cup {
      position: absolute;
      z-index: 1;
      width: 540px;
      height: 540px;
      top: -800px;
      left: 520px;
      transform: rotate(0deg);
      transition: all 0.3s;
    }

    &-cup:hover {
      transform: rotate(10deg);
      transition: all 0.3s;
    }

    &-coffee {
      position: absolute;
      z-index: 1;
      width: 270px;
      height: 270px;
      top: -720px;
      left: 950px;
    }

    &-cookies {
      position: absolute;
      z-index: 1;
      width: 393px;
      height: 393px;
      top: -400px;
      left: 550px;
      transform: rotate(0deg);
      transition: all 0.3s;
    }

    &-cookies:hover {
      transform: rotate(-10deg);
      transition: all 0.3s;
    }

    &-bun {
      position: absolute;
      z-index: 1;
      width: 569px;
      height: 569px;
      transform: rotate(0deg);
      transition: all 0.3s;
      top: -570px;
      left: 750px;
    }

    &-bun:hover {
      transform: rotate(-10deg);
      transition: all 0.3s;
    }
  }
}

.section-info {
  &__title {
    font-size: 48px;
    font-weight: 700;

    padding-bottom: 48px;
  }
}

.united {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 64px;
}

.info-box {
  width: 584px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px #00000024;
  border-radius: 24px 24px 24px 0;
  gap: 20px;
  transition: all 0.3s;

  &__img {
    border-radius: 24px 0 0 0;
  }

  &__card {
    &-title {
      font-size: 24px;
      font-weight: 600;
      color: $darck;
      padding-top: 20px;
      padding-bottom: 14px;
    }

    &-paragraph {
      padding-right: 20px;
      font-size: 14px;
    }
  }
}

.info-box:hover {
  transform: scale(1.05);
}

.menu {
  padding-top: 64px;
  padding-bottom: 64px;

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;

    &-title {
      font-size: 48px;
      font-weight: 700;
    }

    &-assortment {
      display: flex;
      gap: 7px;

      &-btn {
        width: 120px;
        height: 45px;
        border: 1px solid $brown;
        color: $brown;
        border-radius: 24px;
        font-size: 14px;
        font-weight: 600;
        transition: all 0.3s;
      }

      &-btn:hover {
        background-color: $brown;
        color: #ffffff;
        transition: all 0.3s;
      }
    }
  }
}

.coffee,
.dessert,
.snacks {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  width: 276px;
  border-radius: 24px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px #00000024;

  &__top {
    background-color: #dedede;
    border-radius: 24px 24px 0 0;

    &-img {
      width: 100%;
    }
    &-img:hover {
      transform: scale(1.2);
    }
  }

  &__content {
    padding: 20px;

    &-price {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 7px;
    }

    &-description {
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 7px;
    }

    &-volume {
      color: #9a9a9a;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.reviews {
  padding-top: 64px;
  &__title {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
  }

  &__united {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 64px;

    &-card {
      width: 378px;
      background-color: #ffffff;
      box-shadow: 0px 4px 20px 0px #00000024;
      border-radius: 24px;

      &-top {
        display: flex;
        padding: 20px;
        gap: 20px;

        &-img {
          border-radius: 100%;
          width: 63px;
          height: 63px;
        }

        &-right {
          &-name {
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 7px;
          }
        }
      }

      &-description {
        font-size: 14px;
        font-weight: 400;
        padding: 0 20px 20px 20px;
      }
    }
  }
}

.address {
  padding-top: 64px;
  padding-bottom: 64px;

  &__title {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
  }

  &__box {
    display: flex;
    gap: 32px;

    &-area {
      position: relative;

      &-map {
        box-shadow: 0px 4px 20px 0px #00000024;
        border-radius: 24px;
      }

      &-geolocation {
        position: absolute;
      }

      &-geolocation {
        position: absolute;
        bottom: 315px;
        left: 330px;
      }
    }
  }
}

.contacts {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px #00000024;
  width: 379px;
  border-radius: 24px;
  padding: 20px;
  margin-bottom: 14px;

  &__title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  &__box {
    display: flex;
    gap: 10px;
    padding-top: 14px;

    &-img path {
      fill: $darck;
    }

    &-item {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__box:hover .contacts__box-img path{
    fill: #a26539 !important;
  }
  &__box:hover .contacts__box-item {
    color: #a26539;
  }
}

.form {
  background-color: #ffffff;
  width: 379px;
  box-shadow: 0px 4px 20px 0px #00000024;
  padding: 20px;
  border-radius: 24px;

  &__fieldset {
    border: none;

    &-title {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 17px;
    }

    &-text {
      margin-top: 7px;
      width: 339px;
      height: 47px;
      border: 1px solid #dedede;
      border-radius: 244px;
      padding: 14px 24px 16px 24px;
      outline: none;
      color: $darck;
    }

    &-text::placeholder {
      font-size: 14px;
      font-weight: 400;
      color: #9a9a9a;
    }

    &-textarea {
      resize: none;
      overflow: hidden;
    }
  }

  &__btn {
    width: 339px;
    height: 47px;
    border: 1px solid $brown;
    background: none;
    color: $brown;
    font-size: 14px;
    font-weight: 600;
    border-radius: 24px;
    margin-top: 24px;
    transition: all 0.3s;
  }

  &__btn:hover {
    background-color: $brown;
    color: #ffffff;
    transition: all 0.3s;
  }
}

.footer {
  background-color: #ffffff;
  padding-top: 43px;
  padding-bottom: 43px;
  display: flex;
  justify-content: space-between;

  &__left {
    &-logo {
      padding-bottom: 14px;
    }

    &-copyrights {
      font-size: 14px;
      font-weight: 400;
      color: #9a9a9a;
    }
  }

  &__right {
    &-box {
      display: flex;
      gap: 24px;
      padding-bottom: 18px;

      &-link {
        border: none;
        background: none;
        font-size: 16px;
        font-weight: 600;
        color: $darck;
        text-decoration: none;
      }
    }

    &-link {
      display: flex;
      justify-content: flex-end;
      gap: 14px;
    }
  }
}

.hidden {
  display: none;
}

.active {
  background-color: $brown;
  color: #ffffff;
}
